.order-form-group {
  display: flex;
  flex-direction: column;
}

.order-form-item {
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;
  font-size: 1.2rem;
}

.order-form-item input {
  font-size: 1.2rem;
  margin-left: 2rem;
  width: 100%;
  flex: 1;
  padding: .5rem;
  border-radius: 3px;
}