@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500&display=swap');

:root {
  --color-main: #C62828;
  --color-order-bg: #FFC107;
  --color-order-btn: rgba(198, 40, 40, .5);
  --color-text-main: #FFFFFF;
  --color-text-dakr: #8E0000;
  --color-text-order: #000000;
  --color-text-order-btn: rgba(255,255,255,.5);
  --font-big: 40px;
  --font-medium: 24px;
  --font-small: 16px;
  --font-order: 'Lobster', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

